@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Charmonman&display=swap');


:root{
        --primary-color:#f5c837;
        --width-break: 600px;
        
}

*{
        margin: 0;
        padding: 0;
        box-sizing:  border-box;
        
}

.container{
        max-width: 600px;
        margin: 0 auto;
}

.nav{   
        display:block;
        background-color: var(--primary-color);
        padding: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        
}
.nav-heading{
        font-family: 'Sacramento', cursive;
        font-size: 2.2rem;
        font-weight: 900;
        padding: 1rem;
        
}
        

body{   
        margin: 0px;
        text-align: center;
}

.main-content{
        margin: auto;
        max-width: 800px;
        padding: 1rem;
        
}


#input-text{
        border: 3px solid var(--primary-color);
        margin: 1rem auto;
        padding: 1rem;
        display: block;
        height: 7rem;
        width: 80%;
        border-top-left-radius: 25px;
        outline:none;
}



#btn-translate{
        border: 2px solid var(--primary-color);
        border-radius: 0.5rem;
        margin:  1rem auto;
        padding:0.5rem 1rem;
        display:block;
        background-color: var(--primary-color);
        color: black;
        font-size:large;
        outline: none;
        transition: all 0.2s ease-in-out;
        
}

#btn-translate:hover{
        background-color:#93C5FD;
        color: #1D4ED8;
        border: 2px solid #3b64d3;;
        

}

.show-msg{
        font-size: 1.2rem;
        font-family: 'Charmonman', cursive;
        
}

#output-text{
        border: 3px solid var(--primary-color);
        border-bottom-right-radius: 25px;
        margin: 1rem auto;
        padding: 1rem;
        display:block;
        height: 7rem;
        width: 80%;
        outline:none;
}

.footer{
        position: fixed;
        bottom:0;
        width: 100%;
        background-color: var(--primary-color);
        padding: 2rem ;
        text-align: center;
        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1rem;
}

footer .footer-header{
        display: block;
        font-size: 2.2rem;
        font-family: 'Sacramento', cursive;
        
        
        
}



